HYGRAPH_ENDPOINT=https://us-west-2.cdn.hygraph.com/content/your-project/master
HYGRAPH_TOKEN=Bearer your-hygraph-token

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-username
SMTP_PASS=your-smtp-password
CONTACT_EMAIL_TO=info@rebrandgurus.com
CONTACT_EMAIL_FROM=your-smtp-username
